@media (max-width:768px) {

    body {
        padding: 12px;
    }

    .top-grid,
    .middle-grid {
        grid-template-columns: 1fr;
    }

    .filters {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .chart-container {
        height: 300px;
    }

    thead {
        display: none;
    }

}

/* esconder FAB no desktop */

@media (min-width:769px) {

    #fab-add {
        display: none;
    }

}